/* Хедер */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 88px;
    margin: 0 auto;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 28px;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 135px;
    height: auto;
}

.header__logo-image {
    width: 100%;
    height: 100%;
}

.address {
    font-style: normal;
    line-height: 1.35;
}

.header__address {
    justify-self: end;
    text-align: right;
}

.address__contacts-link {
    display: block;
    font-size: 18px;
    text-underline-offset: 4px;
}

/* Обложка */
.cover {
    position: relative;
    padding: 165px 50px 60px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
    position: relative;
}

/* Первая строка — левое выравнивание */
.aligned-text {
    align-self: flex-start;
    letter-spacing: 30px;
}

/* Вторая строка — строго по центру */
.aligned-text_center {
    align-self: center;
    letter-spacing: 30px;
}

/* Третья строка — сдвинута вправо, чтобы "Н" была под "Е" */
.aligned-text_right {
    align-self: flex-end;
    letter-spacing: 30px;
    margin-right: 19px; /* подгоняем вручную — идеально на 1100px ширине */
}

.letter-spacing-extended {}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    margin-top: 20px;
}

.cover__description-text {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 18px;
    font-weight: 400;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    letter-spacing: 1px;
}

.bet-button:hover {
    background: #fff;
    color: #000;
}

/* Лоты */
.lots {
    padding: 0 20px;
    margin-top: 160px;
}

.lots__title {
    margin-bottom: 20px;
    padding-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
    list-style: none;
}

.cards-list__item {
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    display: inline-block;
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-underline-offset: 4px;
}

/* О нас */
.about {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 50px;
    padding: 0 50px;
    margin-top: 160px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
}

.about__column {
    padding-top: 60px;
}

.about__title {
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.2;
}

/* Футер */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 120px 50px 90px;
    margin: 0 auto;
}

.footer__menu {
    text-align: center;
}

.footer__links-list {
    list-style: none;
}

.footer__menu-item_active .footer__menu-link {
    text-decoration: none;
}

.footer__menu-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__socials-icon {
    width: 48px;
    height: 48px;
}

/* Ховер эффекты */
.header__link:hover,
.address__contacts-link:hover,
.lots__look-more-link:hover,
.footer__menu-link:hover {
    background-color: #000;
    color: #fff;
}
